[Unit]
Description=Start Raspberry Pi GNU Radio RX TX Jammer stack
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=user
WorkingDirectory=/home/user
Environment=WORKDIR=/home/user/digitaltwin-modulation/USRP_transmit/noise_detect
Environment=PYTHON_BIN=/usr/bin/python3
Environment=START_NOISE_LOGGER=1
Environment=START_NOISE_UPLOADER=0
Environment=NOISE_CSV=/home/user/digitaltwin-modulation/USRP_transmit/noise_detect/noise.csv
ExecStart=/bin/bash /home/user/pi_radio_stack.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
